<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Configuration</title>
        <title lang="de-DE">Konfiguration</title>
        <input-field type="textarea">
            <name>searchSnippets</name>
            <label>Search for</label>
            <label lang="de-DE">Suche nach</label>
            <helpText>Enter text snippets line by line that should be searched for.</helpText>
            <helpText lang="de-DE">Geben Sie zeilenweise Textausschnitte ein, nach denen gesucht werden soll.</helpText>
        </input-field>
        <input-field type="textarea">
            <name>replaceSnippets</name>
            <label>Replace with</label>
            <label lang="de-DE">Ersetzen durch</label>
            <helpText>Enter text snippets line by line that should be replaced.</helpText>
            <helpText lang="de-DE">Geben Sie zeilenweise Textausschnitte ein, die ersetzt werden sollen.</helpText>
        </input-field>
    </card>
</config>
